<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
        <title>Publish a newsletter</title>
    </head>
    <body>
        {% if flash_messages %}
        {% for message in flash_messages %}
            <p><i>{{ message }}</i></p>
        {% endfor %}
        {% endif %}

        <form action="/admin/newsletters" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">

            <label for="html_content">HTML content</label>
            <textarea
                    name="html_content"
                    id="html_content"
                    rows="20"
                    cols="50"
                    placeholder="Enter the content in HTML format"
            ></textarea>

            <label for="text_content">Text content</label>
            <textarea
                    name="text_content"
                    id="text_content"
                    rows="20"
                    cols="50"
                    placeholder="Enter the content in plain text"
            ></textarea>

            <input type="hidden" name="idempotency_key" value="{{ idempotency_key }}">
            <button type="submit">Publish</button>
        </form>
    </body>
</html>
