<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
        <title>Change Password</title>
    </head>
    <body>
        {% if flash_messages %}
        {% for message in flash_messages %}
            <p><i>{{ message }}</i></p>
        {% endfor %}
        {% endif %}

        <form action="/admin/password" method="post">
            <label for="current_password">Current Password</label>
            <input type="password" id="current_password" name="current_password" placeholder="Enter current password">

            <label for="new_password">New Password</label>
            <input type="password" id="new_password" name="new_password" placeholder="Enter new password">

            <label for="new_password_confirm">Confirm Password</label>
            <input type="password" id="new_password_confirm" name="confirm_password"
                   placeholder="Type the new password again">

            <button type="submit">Change password</button>
        </form>
        <p><a href="/admin/dashboard">&lt;- Back</a></p>
    </body>
</html>